# Analyzing CIA Factbook Data Using SQL

In this project, we'll work with data from the CIA World Factbook, a compendium of statistics about all of the countries on Earth. The Factbook contains demographic information like:

- population - The population as of 2015.
- population_growth - The annual population growth rate, as a percentage.
- area - The total land and water area.

We'll use the following code to connect our Jupyter Notebook to our database file:

In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

Let's query the database to see the tables we can work with.

In [3]:
%%sql
SELECT * FROM sqlite_master WHERE type='table';

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

Let's query the first 5 rows of the facts table to take a closer look at the data.

In [4]:
%%sql
SELECT * FROM facts LIMIT 5;

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

Let's start by calculating some summary statistics and look for any outlier countries.

In [5]:
%%sql
SELECT MIN(population), MAX(population), MIN(population_growth), MAX(population_growth)
FROM facts;

Done.

[(0, 7256490011, 0.0, 4.02)]

In [12]:
%%sql
SELECT name, population 
FROM facts 
WHERE population = (SELECT MIN(population)
                    FROM facts)

Done.

[('Antarctica', 0)]

In [13]:
%%sql
SELECT name, population 
FROM facts 
WHERE population = (SELECT MAX(population)
                    FROM facts)

Done.

[('World', 7256490011)]

It seems like the table contains a row for the whole world, which explains the population of over 7.2 billion. It also seems like the table contains a row for Antarctica, which explains the population of 0. This seems to match the CIA Factbook [page for Antarctica](https://www.cia.gov/library/publications/the-world-factbook/geos/ay.html):

![](https://s3.amazonaws.com/dq-content/257/fb_antarctica.png)

Next, let's calculate the average population and average area sizes.

In [11]:
%%sql
SELECT AVG(population) avg_population, AVG(area) avg_area
FROM facts;

Done.

[(62094928.32231405, 555093.546184739)]

Next, let's see if we can find all countries meeting both of the following conditions:

- The population is above average.
- The area is below average.

In [15]:
%%sql
SELECT name, population, area
FROM facts
WHERE population > (SELECT AVG(population) FROM facts)
AND area < (SELECT AVG(area) FROM facts);

Done.

[('Bangladesh', 168957745, 148460),
 ('Germany', 80854408, 357022),
 ('Japan', 126919659, 377915),
 ('Philippines', 100998376, 300000),
 ('Thailand', 67976405, 513120),
 ('United Kingdom', 64088222, 243610),
 ('Vietnam', 94348835, 331210)]

Let's find out which countries have the highest ratios of water to land.

In [18]:
%%sql
SELECT name, area_land, area_water, CAST(area_water as float) / CAST(area_land as float) water_land_ratio
FROM facts
ORDER BY water_land_ratio DESC
LIMIT 5;

Done.

[('British Indian Ocean Territory', 60, 54340, 905.6666666666666),
 ('Virgin Islands', 346, 1564, 4.520231213872832),
 ('Puerto Rico', 8870, 4921, 0.5547914317925592),
 ('Bahamas, The', 10010, 3870, 0.3866133866133866),
 ('Guinea-Bissau', 28120, 8005, 0.2846728307254623)]

Now let's find out which countries have more water than land.

In [19]:
%%sql
SELECT name, area_land, area_water
FROM facts
WHERE area_water > area_land;

Done.

[('British Indian Ocean Territory', 60, 54340), ('Virgin Islands', 346, 1564)]

How about which countries will add the most people to their population next year.

In [21]:
%%sql
SELECT name, population * population_growth people_added
FROM facts
ORDER BY people_added DESC;

Done.

[('World', 7837009211.88),
 ('India', 1527068612.48),
 ('China', 615368424.6),
 ('Nigeria', 444827037.20000005),
 ('Pakistan', 290665336.62),
 ('Ethiopia', 287456216.91),
 ('Bangladesh', 270332392.0),
 ('United States', 250667713.92000002),
 ('Indonesia', 235514180.08),
 ('Congo, Democratic Republic of the', 194469083.20000002),
 ('Philippines', 162607385.36),
 ('Egypt', 158392438.84),
 ('Brazil', 157280055.24),
 ('Mexico', 143649434.62),
 ('Tanzania', 142418010.78),
 ('European Union', 128487361.25),
 ('Uganda', 120209653.80000001),
 ('Iraq', 108574575.17),
 ('Turkey', 100061978.94),
 ('Iran', 98189124.0),
 ('Vietnam', 91518369.95),
 ('Kenya', 88635830.92999999),
 ('Afghanistan', 75549273.44),
 ('Algeria', 72757585.44),
 ('South Africa', 71388498.79),
 ('Yemen', 66041172.99),
 ('Sudan', 62107227.16),
 ('Mozambique', 61992626.85),
 ('Cameroon', 61484574.62),
 ('Madagascar', 61436716.980000004),
 ('Malawi', 59642794.04),
 ('Niger', 58648619.25),
 ('Ghana', 57394274.82000001),
 ('Burkina Faso', 57363008.58),
 ('Burma', 56883408.06),
 ('Nepal', 56476835.95),
 ('Angola', 54558481.339999996),
 ('Mali', 50527497.28),
 ('Colombia', 48606197.120000005),
 ('South Sudan', 48412498.199999996),
 ("Cote d'Ivoire", 44494026.82),
 ('Malaysia', 43939941.12),
 ('Zambia', 43390846.08),
 ('Spain', 42850059.26),
 ('Venezuela', 40692889.4),
 ('Saudi Arabia', 40518381.36),
 ('Argentina', 40391653.980000004),
 ('Burundi', 35234665.28),
 ('United Kingdom', 34607639.88),
 ('Senegal', 34240793.300000004),
 ('Morocco', 33322699.0),
 ('Rwanda', 32414036.48),
 ('Zimbabwe', 31447285.61),
 ('Guinea', 30981826.06),
 ('Peru', 29531649.029999997),
 ('Benin', 29047238.659999996),
 ('France', 28618119.38),
 ('Uzbekistan', 27155946.060000002),
 ('Guatemala', 27152578.18),
 ('Ukraine', 26657682.599999998),
 ('Canada', 26324877.0),
 ('Cambodia', 24819834.48),
 ('Australia', 24343584.98),
 ('Thailand', 23111977.700000003),
 ('Chad', 21983451.84),
 ('Ecuador', 21422334.6),
 ('Kazakhstan', 20699119.08),
 ('Togo', 20315735.419999998),
 ('Japan', 20307145.44),
 ('Somalia', 19427975.400000002),
 ('Sri Lanka', 18524929.919999998),
 ('Bolivia', 16849375.92),
 ('Italy', 16700882.4),
 ('United Arab Emirates', 14911780.8),
 ('Honduras', 14694410.639999999),
 ('Eritrea', 14687300.25),
 ('Chile', 14356773.2),
 ('Libya', 14298260.48),
 ('Tajikistan', 14008248.18),
 ('Sierra Leone', 13815880.3),
 ('Germany', 13745249.360000001),
 ('Korea, North', 13241098.65),
 ('Dominican Republic', 12888869.879999999),
 ('Israel', 12556929.84),
 ('Papua New Guinea', 11876923.620000001),
 ('Haiti', 11828722.229999999),
 ('Central African Republic', 11483978.07),
 ('Singapore', 10724752.08),
 ('Laos', 10712893.200000001),
 ('Liberia', 10363295.020000001),
 ('Tunisia', 9823130.25),
 ('Congo, Republic of the', 9510194.0),
 ('Azerbaijan', 9389548.799999999),
 ('Belgium', 8606219.48),
 ('Mauritania', 8020645.46),
 ('Paraguay', 7868595.52),
 ('Sweden', 7841292.800000001),
 ('Netherlands', 6948640.64),
 ('Korea, South', 6876127.44),
 ('Oman', 6803957.52),
 ('Qatar', 6738088.1899999995),
 ('Jordan', 6737578.12),
 ('Romania', 6499905.0),
 ('Kyrgyzstan', 6288082.290000001),
 ('Ireland', 6115381.25),
 ('Turkmenistan', 5963821.079999999),
 ('Nicaragua', 5907881.0),
 ('Norway', 5884688.569999999),
 ('Costa Rica', 5873255.68),
 ('Switzerland', 5766499.3),
 ('Russia', 5696950.92),
 ('West Bank', 5431463.7),
 ('Taiwan', 5385478.98),
 ('Lebanon', 5318842.86),
 ('Gaza Strip', 5252044.55),
 ('Panama', 4827271.680000001),
 ('Austria', 4766052.5),
 ('Kuwait', 4517425.08),
 ('Gambia, The', 4250251.44),
 ('Bulgaria', 4168397.94),
 ('Mongolia', 3920709.48),
 ('Moldova', 3653252.41),
 ('New Zealand', 3639482.26),
 ('Poland', 3470597.01),
 ('Serbia', 3301325.24),
 ('Guinea-Bissau', 3296984.6999999997),
 ('Gabon', 3291298.48),
 ('Bahrain', 3245337.33),
 ('Lithuania', 2999810.3200000003),
 ('Timor-Leste', 2979300.7199999997),
 ('Syria', 2730376.64),
 ('Hong Kong', 2713620.2800000003),
 ('Botswana', 2641089.9899999998),
 ('Finland', 2190768.8000000003),
 ('Hungary', 2177459.02),
 ('Puerto Rico', 2159014.1999999997),
 ('Latvia', 2105907.3000000003),
 ('Jamaica', 2006142.8),
 ('Belarus', 1917937.8),
 ('Equatorial Guinea', 1859264.93),
 ('Djibouti', 1822312.8),
 ('Czech Republic', 1703174.72),
 ('Cyprus', 1700551.71),
 ('Cuba', 1654714.95),
 ('Western Sahara', 1609842.1199999999),
 ('Swaziland', 1593530.4300000002),
 ('El Salvador', 1535337.5),
 ('Comoros', 1382318.67),
 ('Namibia', 1305261.13),
 ('Solomon Islands', 1257387.3800000001),
 ('Denmark', 1227930.66),
 ('Luxembourg', 1214636.76),
 ('Portugal', 974277.8099999999),
 ('Albania', 908783.4),
 ('Uruguay', 902311.1100000001),
 ('Mauritius', 857489.28),
 ('Bhutan', 823530.0900000001),
 ('Cabo Verde', 742550.4800000001),
 ('Brunei', 696026.52),
 ('Estonia', 695981.0),
 ('Belize', 649580.03),
 ('Suriname', 626003.64),
 ('Lesotho', 623264.3200000001),
 ('Fiji', 609290.63),
 ('Croatia', 580429.72),
 ('Vanuatu', 530914.7999999999),
 ('Slovenia', 515687.12),
 ('Bosnia and Herzegovina', 502717.15),
 ('Macau', 474184.80000000005),
 ('Armenia', 458457.3),
 ('Macedonia', 419203.0),
 ('Iceland', 401620.77999999997),
 ('Georgia', 394498.08),
 ('New Caledonia', 374828.69999999995),
 ('Sao Tome and Principe', 356971.04000000004),
 ('Bahamas, The', 275907.45),
 ('Montenegro', 271770.66),
 ('French Polynesia', 265740.82),
 ('Trinidad and Tobago', 158907.19),
 ('Aruba', 149175.46000000002),
 ('Malta', 128329.15),
 ('Kiribati', 121567.65),
 ('Marshall Islands', 119837.06),
 ('Cayman Islands', 117793.20000000001),
 ('Turks and Caicos Islands', 115643.99999999999),
 ('Samoa', 114708.34),
 ('Antigua and Barbuda', 114620.64),
 ('Northern Mariana Islands', 114109.92000000001),
 ('Slovakia', 108900.54000000001),
 ('Greece', 107756.43000000001),
 ('Barbados', 90087.24),
 ('Guam', 87363.90000000001),
 ('Jersey', 77835.2),
 ('British Virgin Islands', 77613.28),
 ('Seychelles', 76716.9),
 ('Isle of Man', 66534.2),
 ('Curacao', 63814.58),
 ('Virgin Islands', 61108.659999999996),
 ('Sint Maarten', 59930.39),
 ('Saint Lucia', 55733.48),
 ('Grenada', 53133.119999999995),
 ('Micronesia, Federated States of', 48399.36),
 ('Saint Kitts and Nevis', 39471.36),
 ('Bermuda', 35098.0),
 ('Anguilla', 33328.53999999999),
 ('Liechtenstein', 31604.16),
 ('Maldives', 31460.24),
 ('Cook Islands', 29022.100000000002),
 ('Saint Vincent and the Grenadines', 28735.56),
 ('San Marino', 27076.399999999998),
 ('Faroe Islands', 25599.96),
 ('Guernsey', 22467.2),
 ('American Samoa', 16302.9),
 ('Dominica', 15457.47),
 ('Guyana', 14704.44),
 ('Andorra', 10269.6),
 ('Tuvalu', 8912.58),
 ('Palau', 8080.7),
 ('Gibraltar', 7021.92),
 ('Saint Pierre and Miquelon', 6109.56),
 ('Nauru', 5247.0),
 ('Wallis and Futuna', 5152.29),
 ('Monaco', 3664.2),
 ('Tonga', 3195.0299999999997),
 ('Montserrat', 2620.5),
 ('Saint Helena, Ascension, and Tristan da Cunha', 1870.8),
 ('Christmas Island', 1698.3000000000002),
 ('Svalbard', 56.16),
 ('Niue', 35.699999999999996),
 ('Falkland Islands (Islas Malvinas)', 33.61),
 ('Norfolk Island', 22.1),
 ('Tokelau', 13.370000000000001),
 ('Holy See (Vatican City)', 0.0),
 ('Cocos (Keeling) Islands', 0.0),
 ('Greenland', 0.0),
 ('Pitcairn Islands', 0.0),
 ('Kosovo', None),
 ('Ashmore and Cartier Islands', None),
 ('Coral Sea Islands', None),
 ('Heard Island and McDonald Islands', None),
 ('Clipperton Island', None),
 ('French Southern and Antarctic Lands', None),
 ('Saint Barthelemy', None),
 ('Saint Martin', None),
 ('Bouvet Island', None),
 ('Jan Mayen', None),
 ('Akrotiri', None),
 ('British Indian Ocean Territory', None),
 ('Dhekelia', None),
 ('South Georgia and South Sandwich Islands', None),
 ('Navassa Island', None),
 ('Wake Island', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Antarctica', None),
 ('Paracel Islands', None),
 ('Spratly Islands', None),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None)]

Lastly, which countries have a higher death rate than birth rate.

In [22]:
%%sql
SELECT name, death_rate, birth_rate
FROM facts
WHERE death_rate > birth_rate;

Done.

[('Austria', 9.42, 9.41),
 ('Belarus', 13.36, 10.7),
 ('Bosnia and Herzegovina', 9.75, 8.87),
 ('Bulgaria', 14.44, 8.92),
 ('Croatia', 12.18, 9.45),
 ('Czech Republic', 10.34, 9.63),
 ('Estonia', 12.4, 10.51),
 ('Germany', 11.42, 8.47),
 ('Greece', 11.09, 8.66),
 ('Hungary', 12.73, 9.16),
 ('Italy', 10.19, 8.74),
 ('Japan', 9.51, 7.93),
 ('Latvia', 14.31, 10.0),
 ('Lithuania', 14.27, 10.1),
 ('Moldova', 12.59, 12.0),
 ('Monaco', 9.24, 6.65),
 ('Poland', 10.19, 9.74),
 ('Portugal', 11.02, 9.27),
 ('Romania', 11.9, 9.14),
 ('Russia', 13.69, 11.6),
 ('Serbia', 13.66, 9.08),
 ('Slovenia', 11.37, 8.42),
 ('Ukraine', 14.46, 10.72),
 ('Saint Pierre and Miquelon', 9.72, 7.42)]